<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home Page</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
{#<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">#}
<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

     

<div class="page-wrapper">
  <!-- Preloader -->
  <div class="preloader"></div>
  <!-- Preloader -->
  <!--Main Header-->
  <header class="main-header-block sticky-header">
    <div class="container">
      <div class="logo">
        <figure> <a href="index.html"><img src="images/logo.png" alt=""></a> </figure>
      </div>
      <div class="header-area clearfix">
        <nav class="main-menu-navigation">
          <div class="navbar-header">
            <!-- Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="service-details.html">Service details</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
        </nav>
        <div class="link-button"> <a href="#" class="btn-style-one">Appoinment</a> </div>
      </div>
    </div>
  </header>
  <!--End Main Header -->
  <section class="wellcome-area">
    <div class="container">
      <div class="section-title text-center">
        <h2>Wellcome to Oursite</h2>
        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="item-holder-box">
            <div class="icon-box"> <i class="fa fa-desktop"></i> </div>
            <a href="#">
            <h5>Business Management</h5>
            </a>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy Lorem ipsum dolor sit amet consectetuer.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="item-holder-box">
            <div class="icon-box"> <i class="fa fa-line-chart"></i> </div>
            <a href="#">
            <h5>Business Consultation</h5>
            </a>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy Lorem ipsum dolor sit amet consectetuer.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="item-holder-box">
            <div class="icon-box"> <i class="fa fa-search"></i> </div>
            <a href="#">
            <h5>Digital Marketing</h5>
            </a>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy Lorem ipsum dolor sit amet consectetuer.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Wellcome Section-->
</body>
</html>

